In [2]:
import pandas as pd

In [13]:
file = 'tabn208.30.csv'

data = pd.read_csv(file)
data

,State or jurisdiction,Fall 2000,Unnamed: 2,Fall 2005,Unnamed: 4,Fall 2010,Unnamed: 6,Fall 2011,Unnamed: 8,Fall 2012,...,Unnamed: 16,Unnamed: 17,Fall 2014,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2013 Ungraded,NaN,2014 Total,NaN,2014 Elementary,NaN,2014 Secondary,NaN,2014 Ungraded,NaN
1,1,2,NaN,3,NaN,4,NaN,5,NaN,6,...,10,NaN,11,NaN,12,NaN,13,NaN,14,NaN
2,United States ...............,"2,941,461",\1\,"3,143,003",\1\,"3,099,095",\1\,"3,103,263",\1\,"3,109,101",...,"169,347",\1\,"3,132,351",\1\,"1,743,157",\1\,"1,203,263",\1\,"185,931",\1\
3,Alabama ..........................,"48,194",\2\,"57,757",NaN,"49,363",NaN,"47,723",NaN,"51,877",...,0,NaN,"42,737",NaN,"22,660",NaN,"20,076",NaN,0,NaN
4,Alaska .........................,"7,880",NaN,"7,912",NaN,"8,171",NaN,"8,088",NaN,"7,682",...,0,NaN,"7,759",NaN,"4,257",NaN,"3,502",NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,\6\Includes imputations to correct for underre...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,NOTE: Distribution of elementary and secondary...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,"SOURCE: U.S. Department of Education, National...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
data.columns

Index(['Table 208.40. Public elementary and secondary teachers, enrollment, and pupil/teacher ratios, by state or jurisdiction: Selected years, fall 2000 \n              through fall 2014',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

TypeError: 'method' object is not subscriptable